main {
  background-color: black;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  background-color: black;
  text-align: center;
  padding-top: 5rem;
}
nav a {
  color: white;
  font-size: 1.5rem;
}

.grid-container {
  margin-top: -10rem;
  padding: 10px;
  width: 100%;
  max-width: 600px;

  height: 320px;
  display: grid;
  grid-template-areas:
    "red red red red yellow yellow"
    "green green green blue blue blue"
    "green green green blue2 blue2 blue2";

  grid-gap: 10px;
  grid-template-columns: 100px 100px 50px 50px;
  grid-template-rows: 200px 100px 100px;
}

.grid-container > div {
  padding: 20px 0;
}

.red {
  background-color: #eb5020;
  grid-area: red;
}

.red2 {
  background-color: red;
  grid-area: red2;
}

.yellow {
  background-color: #ffa401;
  grid-area: yellow;
}

.green {
  background-color: #05aa42;
  grid-area: green;
}

.blue {
  background-color: #01aefd;
  grid-area: blue;
}

.blue2 {
  background-color: #01aefd;
  grid-area: blue2;
}

